<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <title>{% block title %}{% endblock %} | Three-Dimensional Pajama Stories</title>
        {% endblock %}
    </head>

    <body>
      {% block header %}
        <form action ="/logout" method="GET">
        <input type="submit" name="logO" value="Log Out">
        </form>
      {% endblock %}
      {% block content %}

      {% endblock %}
      {% block footer %}
        <br>
        &copy Copyright 2018 Team PJCubed
      {% endblock %}
    </body>

</html>
