{% extends "base.html" %}

{% block title %}
  Create Story
{% endblock %}

{% block content %}
  <h2> Create your story here! </h2>
  {% for msg in get_flashed_messages() %}
    {{msg}}
    <br><br>
  {% endfor %}
  <form action ="/creating" method="POST">
      Title: <input type= "text" name="title" minlength="1" maxlength="60"><br><br>
      First Contribution: <br><textarea name="body" rows="6" cols="70" minlength="4" maxlength="1000"></textarea><br>
      <button type="submit"> Create Story!</button><br>
  </form>
{% endblock %}
