<!DOCTYPE html>

<html>
  <head>
    <title>  </title>
  </head>
  <body>
        {% set msgs = get_flashed_messages() %}
        {% for each in msgs %}
               {{each}}
               <br>
        {% endfor %}
      <form action ="/auth" method="POST" >
        <h2> Username <input type= "text" name="username"><br>
          Password <input type= "password" name="password"><br>
          <input type="submit" name="logI" value="login"></h2>
      </form>
      <form action ="/register" method="GET" >
          <input type="submit" name="signup" value="Sign Up">
      </form>
  </body>
</html>
